#app{
  display: flex;
}

.showPoke{
  z-index: 99;
}

.hidePoke{
  z-index: 99;
  display: none;
  position: absolute;
  display: none;
  height: auto;
}
.cartScreen{
  z-index: 100;
  position: absolute;
  display: flex;
  background-color: white;
  border-style: solid;
  border-color: #3F61E0;
  border-width: 8px;
  text-align: center;
  width: 60vw;
  height: auto;
  opacity: .75;
  flex-direction: column;
  align-items: center;
}


.cartHide{
  z-index: 100;
  position: absolute;
  display: none;
  height: auto;
}

button:active {
  transform: translateY(2px);
}

.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

[class*='close-'] {
  font: 40px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
  cursor: pointer;
  color: #808080;
}

.hvr-fade {
  outline:none;
  font-size: 12px;
  cursor: pointer;
  height: 4vh;
  border-radius:5px;
  color:black;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #F2F2F2;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  opacity: 1;
}

.butty{
  outline:none;
  font-size: 12px;
  cursor: pointer;
  height: 4vh;
  border-radius:5px;
  color:black;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #F2F2F2;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  opacity: 1;
}

.butty:hover{
   background-color: red;
  outline: hidden;
}

.hvr-fade:hover {
  background-color: #F2CB05;
  outline: hidden;
}