#app{
  display: flex;
}

.cartScreen{
  z-index: 100;
  position: absolute;
  display: flex;
  background-color: white;
  border-style: solid;
  border-color: #3F61A6;
  border-width: 8px;
  text-align: center;
  width: 60vw;
  height: auto;
  opacity: .75;
  flex-direction: column;
  align-items: center;
}


.cartHide{
  z-index: 100;
  position: absolute;
  display: none;
  height: auto;
}

button:active {
  transform: translateY(2px);
}

.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

[class*='close-'] {
  font: 40px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
  cursor: pointer;
  color: #808080;
}

​.header
{
    height:100px;
}
.content
{
    position:absolute;
    top: 100px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;        
}​